<ion-view view-title="{{'app.general.workshop'|translate}}">
    <ion-content class="single-work">
        <div class="image-box" fs-src="event.images[0]">

        </div>
        <div class="content-box">
            <div class="work-item-single row">
                <div class="work-date col-25">
                    <div class="box">
                        <span>{{::'app.days.abbr.' + (event.start | date:'EEEE') | lowercase | translate}}<br>{{::event.start|date:'H:mm'}}</span>
                    </div>
                </div>
                <div class="work-text-head col-75 col-center">
                    <p class="head">{{::event|trans:'name'}}</p>
                </div>
            </div>
            <p class="work-info"><span class="tag">{{::'app.general.location'|translate}}:</span> {{::event.location|trans:'name'}}</p>
            <p class="work-info">
                <span class="tag">{{::event.end?('app.time.from'|translate):('app.time.start'|translate)}}:</span> {{::event.start|date:'H:mm'}}
                <span class="tag" ng-if="::event.end">{{'app.time.to'|translate}}:</span> {{::event.end?(event.end|date:'H:mm'):''}}</p>
            <p class="work-info" ng-if="::event.author"><span class="tag">{{::'app.workshop.from'|translate}}:</span> {{::event.author}}</p>
            <p class="work-text">{{::event|trans:'description'}}</p>
        </div>

    </ion-content>
</ion-view>
