$background-gray-right: #e2e2e2;
$background-gray-left: #689aca;
$textcolor-left: #fff;
$border-color: #777777;
$border-size: 1px;

$left-side:20%;
$right-side: 100% - 20%;
$row-height: 150px;


.slider-pager{
    display: none;
}

.workshops {

    .work-container {
        height: 100%;
        .work-tab {
            background-color: $background-general;
            .work-list {
                height: 100%;
                padding: 0 0.5em;
                .work-box {

                    .left-side {

                        border: $border-size solid $border-color;

                        div.marker-container{
                            position: relative;
                            &>div {
                                position: absolute;
                                top: 5px;
                                color: white;
                                font-weight: 900;
                                font-size: 27px;
                            }
                        }
                        -webkit-flex: 0 0 $left-side;
                        -moz-flex: 0 0 $left-side;
                        flex: 0 0 $left-side;
                        max-width: $left-side;

                        position: relative;
                        background-color: $background-gray-left;
                        color: $textcolor-left;

                        .box-ct {
                            position: absolute;
                            bottom: 0px;
                            width: 100%;
                            margin-left: -14px;
                            .box {

                                width: 75%;
                                max-width: 120px;

                                display: table;
                                margin: 0 auto;

                                p { /* always on bottom*/
                                    position: absolute;
                                    bottom: 0px;
                                    font-size: 18px;
                                    line-height: 18px;
                                    padding-left: 5px;

                                }
                            }
                            .box:after {
                                content: "";
                                display: inline-block;
                                width: 100%;
                            }

                        }
                    }
                    .right-side{

                        -webkit-flex: 0 0 $right-side;
                        -moz-flex: 0 0 $right-side;
                        flex: 0 0 $right-side;
                        max-width: $right-side;
                        overflow: hidden;

                        border-top: $border-size solid $border-color;
                        border-bottom: $border-size solid $border-color;
                        border-right: $border-size solid $border-color;

                        .head{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        p{
                            margin-bottom: 1px;
                            line-height: 1.2em;
                            //font-size: 12px;
                        }
                        p.extra{
                            font-weight: bold;
                        }
                        p:last-child{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
    }



}

.single-work {
    background-color: $background-general;
    padding: 0;
    .sub-title-row{
        background-color: $background-gray-left;

    }

}



