<ion-view class="workshops" view-title="{{::'app.general.workshops'|translate}}" >
    <ion-nav-buttons side="right">
        <button class="like-button button {{view.filterHashtag!=99? 'ion-ios-pricetags':'ion-ios-pricetags-outline'}}" ng-click="openPopover($event)">
        </button>


    </ion-nav-buttons>
    <div ng-show="view.filterHashtag!=99" class="bar bar-subheader">
        <h2 class="title">{{::'app.workshop.filter'|translate}}: {{appData.WorkshopTags[view.filterHashtag]|translate}}</h2>
    </div>


    <ion-content ng-class="{'has-subheader': view.filterHashtag!=99}" >
        <div class="tabmenu">
            <div class="tabmenu-left" ng-click="previousTab()"
                                    style="word-wrap: normal; direction: rtl; padding-right: 0.5em;">
                <small ng-if="previousDay()">{{ 'app.days.' + previousDay()|translate }}</small>
            </div>
            <div class="tabmenu-center" ng-if="::currentDay()">
                <b>{{ 'app.days.' + currentDay()|translate }}</b>
            </div>
            <div class="tabmenu-right" ng-click="nextTab()"
                                       style="word-wrap: normal; padding-left: 0.5em;">
                <small ng-if="nextDay()">{{ 'app.days.' + nextDay()|translate }}</small>
            </div>
        </div>


        <ion-slide-box class="work-container" on-slide-changed="changeTabHeadTo($index)">
            <ion-slide class="work-tab" ng-repeat="day in ::appData.workshops | orderObjectBy:'date':'date'">
                <ion-scroll class="work-list">
                   <div class="work-box"
                            ng-repeat="event in day.events |tagFilter:view.filterHashtag:appData.WorkshopTags | orderBy: 'start'"

                            id="{{::event.id}}">


                       <div class="row">
                           <div class="col left-side">
                               <div class="marker-container">

                                   <div ng-click="toggleLike(event);">
                                       <span class="{{event.liked ? 'ion-ios-star' : 'ion-ios-star-outline'}}"></span>
                                   </div>
                               </div>


                               <div class="box-ct ">

                                   <div class="box">
                                       <p class="upper-case">
                                           {{::('app.days.abbr.' + (event.start | date:'EEEE') | lowercase | translate)}}
                                           <br>
                                           {{::event.start|date:'HH:mm'}}
                                           <br>
                                           {{::event.end|date:'HH:mm'}}
                                       </p>
                                   </div>

                               </div>
                           </div>
                           <div class="col right-side" ui-sref="app.workshop({idx:event.id})">

                               <h3 class="head">{{::event|trans:'name'}}</h3>
                               <p class="text extra" ng-if="::event.author">{{::'app.workshop.from'|translate }}: {{::event.author}}</p>
                               <p class="text extra">{{::'app.general.location'|translate }}: {{::appData.locations[event.locationRef]|trans:'name'}}</p>
                               <p class="text">{{:: event|trans:'description'}}</p>
                           </div>
                       </div>
                    </div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </ion-content>

    <script id="templates/popover.html" type="text/ng-template">
        <ion-popover-view>
            <ion-header-bar> <h1 class="title">{{'app.workshop.category'|translate}}</h1> </ion-header-bar>
            <ion-content>
                <ion-list>
                    <ion-radio ng-model="view.filterHashtag" ng-click="setWorkshopFilter('99')" ng-value="99">{{::'app.workshop.all'|translate}}</ion-radio>
                    <ion-radio ng-model="view.filterHashtag" ng-click="setWorkshopFilter($index)" ng-repeat="typeSection in ::appData.WorkshopTags" ng-value="{{$index}}">{{::typeSection|translate}}</ion-radio>
                    <ion-radio ng-model="view.filterHashtag" ng-click="setWorkshopFilter('98')" ng-value="98">{{::'app.workshop.other'|translate}}</ion-radio>
                </ion-list>
            </ion-content>
        </ion-popover-view>
    </script>






</ion-view>
