/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$background-general:                lightgrey;
$positive:                          #AB1C57 !default;
$bar-title-font-size:               18px !default;
$font-size-large:                   22px !default;
$font-size-base:                    18px !default;
$font-size-medium:                  16px !default;
$font-size-small:                   14px !default;

$item-font-size:                    18px !default;
$item-padding:                      16px !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../bower_components/ionic/release/fonts" !default;

// Include all of Ionic
// @import "www/lib/ionic/scss/ionic";
@import "../bower_components/ionic/scss/ionic.scss";



// Global styles
body * {
    cursor: url('../images/finger.png'), auto !important;
}

.scroll{height: 100%;}

// Partials
@import "partials/tabmenu";

// Your application styles go here
@import "../states/news/news";
@import "../states/map/map";
@import "../states/starting";
@import "../states/settings/settings";
@import "../states/location/location";
@import "../states/program/program";
@import "../states/workshops/workshop";


// menu bar image
.menu-bar-overlay{
    height:44px;
    width:100%;
    background-color:$positive;
    opacity: 0.5;
    position: relative;
    z-index: 12;
}
.menu-img{
    background: url('../images/menu.png') no-repeat center center ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100%;
    height:30%;
}

.menu-logo {
    background: url('../images/logo.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 6em;
    height: 6em;
    left: 9em;
    top: 3em;
    position: absolute;
}

.bar {
  .title {
    text-align: left;
    font-weight: bold;
  }

  .button.ion-navicon-round:before {
    font-size: 22px;
  }
}

.tab-item {
  opacity: 1;
}

.tabs-striped .tabs {
  background-color: #efefef;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {

  border-color: $positive;
}

.events {

  .list {
    background-color: #dbdbdb;
  }

  .item-content {
    margin-top: 15px;
    line-height: 18px;
    background-color: rgb(77, 74, 74);
    color: white;


    .event-time {
      background-color: $positive;
      border-radius: 24px;
      opacity: 0.7;
      height: 50px;
      width: 50px;
      display: inline-block;
      text-align: center;
      font-size: 12px;
    }
    .event-desc {
      display: inline-block;
      text-align: center;
      overflow: hidden;
      height: 50px;
      width: 100%;
      padding-top: 8px;

      .event-location {
        font-size: $font-size-medium;
        color: $positive;
      }
    }
  }

}
