
<ion-view class="favorites-list"
          view-title="{{::'app.general.favorites'|translate}}" cache-view="false">
  <ion-content>


      <style type="text/css">
          .grid-row{
            height:{{grid.entryHeight+'px'}};
          }
          .timeslot-entry{
            width:{{grid.entryWidth+ '%'}};
          }
          .event-entry{
            width:{{grid.entryWidth+ '%'}};
          }
      </style>

      <div ng-repeat="timeslot in timeline" class="grid-row">

          <div class="timeslot-entry {{ timeslot.isFullHour ? 'main-slot' : ''}}"  >
              <span ng-if="timeslot.isFullHour||grid.showAllTimes" >{{timeslot.time| date:'HH:mm'}}</span>
          </div>

          <div ng-if="grid.useAbsoluteRendering == false" ng-repeat="locationCt in timeslot.locations"
               class="event-entry "
               style="{{locationCt.events.length > 0 ? (locationCt.location.color ? 'background-color:'+locationCt.location.color+';':'background-color:#ddd;') : '' }}"
               ng-click="locationCt.events.length > 0?selectLocation(locationCt):return;">
          </div>

          <div ng-if="grid.useAbsoluteRendering ==true && locationCt.renderHeight" ng-repeat="locationCt in timeslot.locations"
               class="event-entry {{locationCt.renderHeight?'abs-entry':''}}"
               style="{{locationCt.events.length > 0 ? (locationCt.location.color ? 'background-color:'+locationCt.location.color+';':'background-color:#ddd;') : '' }} {{locationCt.renderHeight?'height:'+locationCt.renderHeight+'px;':''}} left:{{grid.entryWidth * ($index +1)}}%; "
               ng-click="locationCt.events.length > 0?selectLocation(locationCt):return;">
              <small ng-if="locationCt.events.length>1">
                  {{locationCt.events.length}}
              </small>
              <small ng-if="locationCt.events.length==1">
                  {{locationCt.events[0]|trans:'name'}}
              </small>
          </div>
      </div>





  </ion-content>
    <div ng-if="selectedLocationCt" class="event-overlay">

        <div class="event-navigation">
              <span ng-if="selectedLocationCt.events.length>1">
                  <div ng-click="previousEvent()" class="previous">&lt;</div>
                  <div class="num">{{selectedEventIdx+1+'/'+ selectedLocationCt.events.length}}</div>
                  <div ng-click="nextEvent()" class="next">&gt;</div>
              </span>
            <div ng-click="closeLocation()" class="close">X</div>
        </div>
        <h5>{{selectedEvent|trans:'name'}}</h5>
        <p>{{selectedEvent|trans:'preview'}}</p>
        {{selectedEvent.start|date:'EEE HH:mm'}}-{{selectedEvent.end|date:'HH:mm'}}

        <a ng-if="!selectedEvent.location.originalLocation"
           class="button button-positive program-btn"
           ui-sref="app.singleprogram({idx:selectedEvent.id})">
            {{'app.map.open.location'|translate}}
        </a>

        <a ng-if="selectedEvent.location.originalLocation"
           class="button button-positive program-btn"
           ui-sref="app.workshop({idx:selectedEvent.id})">
            {{'app.map.open.location'|translate}} *
        </a>
    </div>
</ion-view>
