<ion-view view-title="{{::'app.general.news'|translate}}">
    <ion-content class="news-state">
        <ion-refresher on-refresh="refreshData()" spinner="ios"></ion-refresher>
        <div ng-repeat="item in newsToShow"
             class="row news-item" >

            <div class="col news-left">
                <span class="read-icon {{item.read?'ion-email':'ion-email-unread'}}"
                      ng-click="toggleRead(item)"></span>
                <div class="box-ct ">

                    <div class="box">
                    <p class="upper-case">
                        {{::('app.days.abbr.' + (item.publishDate | date:'EEEE') | lowercase | translate)|justifySpaces}}
                        <br>
                        {{::item.publishDate|date:'HH:mm'|justifySpaces}}
                    </p>
                    </div>

                </div>

            </div>


            <div class="col-75 news-right" ui-sref="app.singlenews({idx:item.id}) ">
                <h2 class="head {{item.read?'read':'unread'}}">

                    {{::item|trans:'title'}} </h2>
                <p class="text" markdown-to-html="item|trans:'preview'"></p>
            </div>

        </div>


    </ion-content>
</ion-view>
