<ion-view view-title="{{::'app.general.news'|translate}}">
    <ion-content class="news-state">
        <ion-refresher on-refresh="refreshData()" spinner="ios"></ion-refresher>
        <div ng-repeat="item in newsToShow"
             class="news-item" ui-sref="app.singlenews({idx:item.id})">
            <div class="news-date">
                <div class="box">
                    <span>{{::'app.days.abbr.' + (item.publishDate | date:'EEEE') | lowercase | translate}}<br>
                        {{::item.publishDate|date:'H:mm'}}
                    </span>
                </div>
            </div>
            <div class="news-text-head">
                <p class="head">{{::item|trans:'title'}} </p>
                <p class="text"  markdown-to-html="item|trans:'preview'"></p>
            </div>
        </div>
        <div class="news-item news-more" ng-click="::showMoreItems()"
                                         ng-if="appData.fsNews.length > itemsToDisplay">
            {{::'app.news.loadmore'|translate}}
        </div>
        <br>
    </ion-content>
</ion-view>
