.news-state {
    background-color: $background-general;
    padding: 0 0.5em;
    .news-item {
        background-color: white;
        box-shadow: 3px 2px 6px grey;
        margin: 0.8em 0;
        padding: 0.5em;
        height: 5em;
    }
}

.single-news {
    background-color: $background-general;
    padding: 0;

    div.image-box {
        width: 100%;
        height: 25%;
        overflow: hidden;

        .image {
            width: 100%;
        }
    }

    div.content-box {
        padding: 0.5em;

        .news-item-single {
            margin-top: -1em;
        }
        .news-text {
            padding: 0.5em 1.5em;
        }
    }
}

.news-date {
    text-align: center;
    width: 100%;
    height: 100%;
    .box {
        border-radius: 50%;
        display: inline-block;
        width: 4em;
        height: 4em;
        background-color: rgba($positive, 0.5);
        position: relative;
        line-height: 4em;
        text-align: center;
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            font-size: 0.8em;
            color: white;
        }
    }

}

.news-text-head {
    padding: 0.5em 0;

    p.head {
        font-size: 1.2em;
        margin: 0 0 0.2em;
        color: $positive;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p.text {
        font-size: 0.7em;
        overflow: hidden;
        margin: 0;
        height: 2em;
        position:relative;
        line-height: 1.2em;
    }
    p.text:before {
        content:'';
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        background:linear-gradient(rgba(255, 255, 255, 0) 1em, white);
    }
}
