/* news list properties */
$background-gray-right: #e2e2e2;
$background-gray-left: $positive;
$textcolor-left: #fff;
$border-color: #777777;
$border-size: 1px;

.single-news {
    background-color: $background-general;
    padding: 0;


    div.image-box {
        width: 100%;
        height: 25%;
        overflow: hidden;

        .image {
            width: 100%;
        }
    }

    /* subtitle bar */
    .sub-title-row{
        background-color: $positive;
        color: #fff;
        font-size: 19px;
        font-weight: bold;

        .left{
            flex: 0 0 30%;
            max-width: 30%;
        }
        .middle{
            flex: 0 0 40%;
            max-width: 40%;
        }
        .right{
            flex: 0 0 30%;
            max-width: 30%;
        }

        &>div:nth-child(1){
            padding-top: 10px;
            padding-left: 1.5em;
        }
        &>div:nth-child(2){
            line-height: 54px;
        }

        .news-read-icon{
            margin-top: 5px;
            font-size: 40px;
            margin-right: 0.5em;
        }
    }





    div.content-box {
        padding: 0.5em;
        padding-bottom: 50px; /* allow scrolling from underneath fixed author div */

        .news-item-single {
            margin-top: -1em;
        }
        .news-text {
            padding: 0.5em 1.5em;
        }
    }

}

.bottom-line {
    font-size: smaller;
    font-style: italic;
    text-align: left;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 99;
    background-color: $background-general;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 2em;
}

.news-state{
    background-color: $background-general;
}

.row.news-item {
    height: 25%;
    overflow: auto;
    padding-right:12px;
    margin-left:5px;
    margin-top:5px;
    width: inherit;

    .news-left, .news-right {
        padding: 10px;
    }

    .news-left {
        position: relative;
        background-color: $background-gray-left;
        border: $border-size solid $border-color;
        color: $textcolor-left;

        .read-icon {
            padding: 8px 8px 8px 0;
            font-size: 28px;
        }
        font-weight:100;
        .box-ct {
            position: absolute;
            bottom: 0px;
            width: 100%;
            margin-left: -14px;
            .box {

                width: 75%;
                max-width: 120px;

                display: table;
                margin: 0 auto;

                p{ /* always on bottom*/
                    position:absolute;
                    bottom:0px;
                    font-size: 18px;
                    line-height: 18px;

                }
            }
            .box:after {
                content: "";
                display: inline-block;
                width: 100%;
            }
        }

    }

    .news-right {
        background-color: $background-gray-right;
        border-right: $border-size solid $border-color;
        border-top: $border-size solid $border-color;
        border-bottom: $border-size solid $border-color;

    }

    .head {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 24px;
    }
    .head.unread{
        font-weight: 900;
    }
    .head.read{
        font-weight: 300;
    }

    p.text {
        overflow: hidden;
        text-overflow: ellipsis;
    }

}


