<ion-view view-title="{{::news|trans:'title'}}">
    <ion-content class="single-news">
        <header-image path="::news.image" topic="news">

        </header-image>

        <div class="row sub-title-row">
            <div class="left">
                <p class="upper-case">
                    {{::('app.days.abbr.' + (news.publishDate | date:'EEEE') | lowercase | translate)}}
                    <br>
                    {{::news.publishDate|date:'HH:mm'}}
                </p>
            </div>
            <div class="middle text-center"><span>News</span></div>
            <div class="right">
                 <span class="pull-right news-read-icon {{news.read?'ion-email':'ion-email-unread'}}"
                       ng-click="toggleRead(news)"></span>
            </div>
        </div>

        <div class="content-box">
            <p class="news-text markdown" markdown-to-html="news|trans:'text'"></p>



        </div>



    </ion-content>
    <p class="bottom-line" ng-if="::news.author">
        {{::'app.news.by'|translate}}: {{::news.author}}
    </p>
</ion-view>
