<ion-view view-title="{{::news|trans:'title'}}">
    <ion-content class="single-news">
        <header-image path="::news.image" topic="news">

        </header-image>
        <style>
            .bar.bar-positive , .bar-positive .button{
                background-color: #336666 !important;
            }
        </style>

        <div class="row sub-title-row">
            <div class="left">
                <div class="center-vertical">
                    <p class="upper-case">
                        {{::('app.days.abbr.' + (news.publishDate | date:'EEEE') | lowercase | translate)}}
                        <br>
                        {{::news.publishDate|date:'HH:mm'}}
                    </p>
                </div>
            </div>
            <div class="middle text-center">
                <div class="center-vertical">
                    <SPAN>News</SPAN>
                </div>

            </div>
            <div class="right">
                <div class="center-vertical">
                    <div>
                        <span class="state-icon {{news.read?'ion-email':'ion-email-unread'}}"
                            ng-click="toggleRead(news)"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-box">
            <p class="news-text markdown" markdown-to-html="news|trans:'text'"></p>
        </div>



    </ion-content>
    <p class="bottom-line" ng-if="::news.author">
        {{::'app.news.by'|translate}}: {{::news.author}}
    </p>
</ion-view>
