.program {

  .centerline {
    border-left: 2px solid $positive;
    border-right: 2px solid $positive;
    height: 100%;
    width: 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .prog-container {
    height: 100%;
    .prog-tab {
      background-color: $background-general;
      .prog-list {
        height: 100%;
        padding: 0 0.5em;
        .prog-day {
          .prog-date {
            overflow: hidden;
            div {
              height: 2em;
              padding: 0.5em;
              float: left;
              width: 50%;
              &.prog-date-left {
                text-align: right;
              }
              &.prog-date-right {
                text-align: left;
              }
            }
          }
          .prog-box {
              background-color: white;
              box-shadow: 3px 2px 6px grey;
              margin: 0.5em 0 1em 0;
              padding: 0.5em;
              height: 5em;
              position: relative;
              .row {
                  padding: 0;
              }
              .prog-datetime {
                  float: left;
                  text-align: left;
                  margin-right: 0.5em;
                  .box {
                      border-radius: 50%;
                      display: inline-block;
                      width: 4em;
                      height: 4em;
                      background-color: rgba($positive, 0.5);
                      position: relative;
                      line-height: 4em;
                      text-align: center;
                      span {
                          display: inline-block;
                          vertical-align: middle;
                          line-height: 1.4em;
                          font-size: 0.8em;
                          color: white;
                      }
                  }
              }

              .prog-text-head {
                  padding: 0.5em 0;
                  overflow: hidden;

                  p.head {
                      font-size: 1.2em;
                      margin: 0 0 0.2em;
                      color: $positive;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                  }
                  p.text {
                      font-size: 0.7em;
                      overflow: hidden;
                      margin: 0;
                      height: 2em;
                      position:relative;
                      line-height: 1.2em;
                  }
                  p.text:before {
                      content:'';
                      width:100%;
                      height:100%;
                      position:absolute;
                      left:0;
                      top:0;
                      background:linear-gradient(rgba(255, 255, 255, 0) 1em, white);
                  }
              }
              .prog-actual {
                  background-color: $positive;
                  margin: 0 -1.8em;
                  height: 6em;
                  position: absolute;
                  top: 5em;
                  left: 0;
                  z-index: 99;
              }
          }

        }
      }
    }
  }
}

.single-program {
    background-color: $background-general;
    padding: 0;

    div.image-box {
        width: 100%;
        height: 25%;
        overflow: hidden;

        .image {
            width: 100%;
        }
    }

    div.content-box {
        padding: 0.5em;

        .program-headline {
            margin-top: -1em;
            overflow: hidden;
        }
        .program-info {
            padding: 0.5em 1.5em 0;
            span.tag {
                color: $positive;
            }
        }
        .program-text {
            padding: 0.5em 1.5em;
        }
    }
}

.program-date {
    float: left;
    .box {
        border-radius: 50%;
        display: inline-block;
        width: 4em;
        height: 4em;
        background-color: rgba($positive, 0.5);
        position: relative;
        line-height: 4em;
        text-align: center;
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.4em;
            font-size: 0.8em;
            color: white;
        }
    }

}

.program-text-head {
    overflow: hidden;
    margin-top: 1.4em;
    padding-left: 1em;

    p.head {
        font-size: 1.2em;
        margin: 0 0 0.3em;
        color: $positive;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p.text {
        font-size: 0.7em;
        overflow: hidden;
        margin: 0;
        height: 2em;
        position:relative;
        line-height: 1.2em;
    }
    p.text:before {
        content:'';
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        background:linear-gradient(rgba(255, 255, 255, 0) 1em, white);
    }
}
