<ion-view view-title="{{::event|trans:'name'}}">
    <ion-content class="single-program" on-swipe-right="previousEvent()" on-swipe-left="nextEvent()">
        <header-image path="event.images"></header-image>


        <div class="row sub-title-row" style="background-color:{{::event.color}}">
            <div class="left">
                <div class="center-vertical">
                    <p class="upper-case">
                        {{::('app.days.abbr.' + (event.start | date:'EEEE') | lowercase | translate)}}
                        <br>
                        {{::event.start|date:'HH:mm'}} <br>
                        {{::event.end|date:'HH:mm'}}
                    </p>
                </div>
            </div>
            <div class="middle text-center"><div class="center-vertical"><span>{{::event.location|trans:'name'}}</span></div></div>
            <div class="right">
                <div class="center-vertical">
                    <div>
                        <span class="state-icon {{event.liked?'ion-ios-star':'ion-ios-star-outline'}}"  ng-click="toggleLike()"></span>
                    </div>
                </div>
            </div>
        </div>



        <div class="content-box">
            <p class="markdown" markdown-to-html="event|trans:'description'"></p>

            <p><a ng-click="openInAppBrowser(event.artistWebsite)" ng-if="event.artistWebsite" class="program-text">
                <span class="ion-link"></span>
                {{::'app.event.artist.website.label'|translate}}
            </a></p>

        </div>


    </ion-content>
    <div class="bottom-line" ng-if="::event.tags">
        {{::event.tags|join:' #'}}
    </div>
</ion-view>
