<ion-view view-title="{{'app.general.settings'|translate}}">
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refreshData()">
        </ion-refresher>
        <div class="list">
            <label class="item item-input item-select" ng-click="onDebug()">
                <div class="input-label">
                        {{'app.settings.language.label'|translate}}
                </div>
                <select ng-model="view.selectedLanguage"
                        ng-options="('language.'+lang | translate) for lang in view.availableLanguages">
                </select>
            </label>
        </div>

        <p>{{appData.$metaInfo.fetched}}</p>
        pull to refresh

        <br>
        <br>
        <a href='' ng-click="deleteData()">delete local data</a>

        <div ng-if="debug.cnt >10">
        <h1 >Debug:</h1>
        <a style="float:right;" class="button button-calm"  ng-click="debug.cnt=0">off</a>
        <pre style="font-size:14px">
{{debugInfo|jsonice}}
        </pre>
        </div>
    </ion-content>
</ion-view>
