.map {
    background-color: $background-general;
    .zoombuttons {
        position: absolute;
        top: 30px;
        left: 15px;
        z-index: 9999;
        .button {
            background-color: $positive;
            color: white;
            margin-bottom: 2em;
            border: 1px solid white;
        }
    }
    .location-pin {
        position: absolute;
        background-color: #ddd;
        opacity: 0.1;
        border: 1px solid #aaa;
        /*
         with height position and radius is set by javascript
        */
    }
    .selected-loc {
        position: absolute;
        bottom: 0px;

        opacity: 0.8;
        z-index: 9990;
        width: 100%;
        height: 200px;
        margin: 0px;

        border-top:1px solid $positive;
        @extend .noBorders;
    }

    .noBorders{
        border-top-left-radius:0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius:0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .selected-loc > div {
        width: 100%;
        height: 100%;

        background-color: #333;
        @extend .noBorders;

    }

    .locationName, .locationPreview, .close {
        font-weight: bold;
        color: white;
        padding-top: 10px;
    }
    .close {
        padding: 10px; // bigger clickarea
        position: absolute;
        z-index: 4;
        right: 0px;
        top: 0px;
        margin:16px;
    }
    .program-btn{
        position:absolute;
        bottom:0px;
        right:0px;
        margin: 16px;
    }

}
