<ion-view view-title="{{'app.general.siteplan'|translate}}  {{selectedLocation|trans:'name'}}" class="map"
          cache-view="false">
    <ion-content>
        <div class="zoombuttons">
            <button class="button ion ion-plus" ng-disabled="zoomlevel >= 3" ng-click="zoomIn()"></button>
            <br>
            <button class="button ion ion-minus" ng-disabled="zoomlevel <= 0.5" ng-click="zoomOut()"></button>
        </div>

        <div class="card selected-loc" ng-if="selection.location">
            <div class="item item-text-wrap" style="background-image:url('{{selection.location.images[0]}}');">

                <div class="location-description">
                    <h3 class="locationName">{{selection.location|trans:'name'}}</h3>

                    <p class="locationPreview">
                        {{selection.location|trans:'preview'}}</p>
                    <a class="button button-light">{{'app.map.open.location'|translate}}</a>
                </div>
            </div>
        </div>

        <ion-scroll delegate-handle="siteplan" zooming="true" direction="xy"
                    ng-style="{height: winHeight + 'px', width: winWidth + 'px'}">
            <locmap image-url="images/plan.jpg"
                    locations="mappedLocations"
                    ng-model="selection.location">
            </locmap>



        </ion-scroll>
    </ion-content>
</ion-view>
