.map {
    .zoombuttons {
        position:absolute;
        top:30px;
        left:15px;
        z-index:9999;
        .button {
            background-color: $positive;
            color: white;
            margin-bottom: 2em;
            border:1px solid white;
        }
    }
}
