@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/benni\/dev\/projects\/festival\/fs-mobile-ionic\/app\/states\/home\/_home\.scss}line{font-family:\000031}}
.home-state {
  color: yellow;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/benni\/dev\/projects\/festival\/fs-mobile-ionic\/app\/states\/home\/_home\.scss}line{font-family:\000033}}
.home-state h1 {
  font-size: 44px;
  font-style: oblique;
  color: red !important;
}
