<ion-view view-title="{{'app.general.locations'|translate}}">
    <ion-content>
        <ion-list type="card" ng-repeat="location in locations.values()" ui-sref="app.location({idx:$index})">
            <ion-item class="item-header">
                <h2>{{location.translations[currentLanguage].name}}</h2>
            </ion-item>
            <ion-item class="item-image" ng-if="location.images.length">
                <img ng-src="{{location.images[0]}}">
            </ion-item>
            <ion-item class="item-desc">
                <p>{{location.translations[currentLanguage].preview}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
