<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content edge-drag-threshold="100">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <div class="menu-bar-overlay"></div>
        <ion-content>
            <div class="menu-img"></div>
            <div class="menu-logo"></div>
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.news">
                    {{'app.general.news'|translate}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.favorites">
                    {{'app.general.favorites'|translate}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.program">
                    {{'app.general.program'|translate}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.workshops">
                    {{'app.general.workshops'|translate}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.map">
                    {{'app.general.siteplan'|translate}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.settings">
                    {{'app.general.settings'|translate}}
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.imprint">
                    {{'app.general.imprint'|translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
